body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}
.welcome {
    margin-top: 2rem;
}

.btn{
    width: 300px;
}
/* .btnVender{
    width: 5rem;
    border-radius: 15px;
}

.btnComprar{
    width: 6rem;
} */